.main-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "side overall"
        "side transactions";
}

#transactions, #debts, #overall {
    margin: 0;
    width: 100%;
    height: 100%;
}

th, td {
    border-bottom: 1px solid var(--tertiary-color);
    padding: 0;
    margin: 5px;
}

tr:nth-child(even) {
    background-color: var(--primary-color);
}

tr:nth-child(odd) {
    background-color: var(--secondary-color);
}
