.main-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "side overall"
        "side transactions";
}

#transactions, #debts, #overall {
    margin: 0;
    width: 100%;
    height: 100%;
}

.transaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}
